*{
    margin: 0;
    padding: 0;
}
#base_contain{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;
    margin-top: 2.5vw;
}
.game_btn{
    width: 32%;
    height: 30vh;
    background: rgb(241, 240, 240);
    color: white;
    font-size:50px;
}
.game_btn:nth-child(1){
    border: none;
    background: white;
    border-bottom: 2px solid black;  
    border-right: 2px solid black; 
}
.game_btn:nth-child(2){
    border: none;
    background: white;
    border-bottom: 2px solid black; 
}
.game_btn:nth-child(3){
    border: none;
    background: white;
    border-left: 2px solid black; 
    border-bottom: 2px solid black; 
}
.game_btn:nth-child(4){
    border: none;
    background: white;
    border-right: 2px solid black; 
    border-bottom: 2px solid black; 
}
.game_btn:nth-child(5){
    border: none;
    background: white;
    border-bottom: 2px solid black; 
}
.game_btn:nth-child(6){
    border: none;
    background: white; 
    border-bottom: 2px solid black;    
    border-left: 2px solid black; 
}
.game_btn:nth-child(7){
    border: none;
    background: white; 
    border-right: 2px solid black; 
}
.game_btn:nth-child(8){
    border: none;
    background: white; 
}
.game_btn:nth-child(9){
    border: none;
    background: white; 
    border-left: 2px solid black; 
}
#warpBtns{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 20%;
}
.btn{
    margin: 2px;
    padding: 20px;
    border: 2px solid black;
}